<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robarm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import robarm urdf file -->
    <xacro:include filename="$(find rob_arm_info)/urdf/robarm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="robarm.ros2_control.xacro" />


    <xacro:robarm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
